@charset "UFT-8";
@media screen and (min-width:760px) and (max-width: 992px) {
    body {
        height: 100%;
        background-image: url(../img/coffe-760w.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
    }
    #login {
        width: 83vw;
        height: 380px;
    }
    #imagem {
        float: left;
        width: 30%;
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }
    #formulario {
        float: right;
        width: 70%;
    }
    #formulario p {
    font-size: 1.1em;
    }
}

@media screen and (min-width: 993px)  {
    body {
        background-image:url(../img/coffe.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        background-attachment: fixed;
    }

    #login {
       width: 80vw;
       height: 430px;
    }

    #imagem{
        background-position: left bottom;
        float: right;
        border-top-left-radius: 0;
        border-bottom-right-radius: 20px;
        width: 40%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 60%;
    }
       #formulario p {
        font-size: 1.2em;
    }
}

